<!--
  Generated template for the SevicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sevices</ion-title>
  </ion-navbar>

</ion-header>
<p><strong>Every day the world change as well as the needs of companies in terms of management and development of human resources.
</strong></p>
<p>We provide you with all the required competencies, qualifications, and managerial staff that match with your demands.
  As we have all the Labour force, both foreign and Tunisian, with large experience in all specialities. </p>
<p> Also, we would like to inform you</p>
<ion-content padding>
  <ion-card>
    <img src="../../assets/imgs/pr2.png">
  </ion-card>
</ion-content>
