<ion-header>

   <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ></ion-icon>
    </button>
    <ion-title>
      Welcome
    </ion-title>
  </ion-navbar>

</ion-header>
<br><br><br>


<ion-card id="card1">
  <br><br>
  <ion-card id="card2">

    <p id="titre">
      <img src="../../assets/imgs/ProGet.png">
    </p>


  </ion-card>

  <ion-card>
    <img src="../../assets/imgs/building.jpg"/>
  </ion-card>

  <div id="card3">
    <button id="bouton" ion-button block (click)="fct_login()">Login</button>

  </div>
  <ion-card>
    <p id="qst"><strong>You don't have an account?</strong></p>
    <button id="id1" ion-button color="secondary" clear (click)="fct_sign_in()">Sing up</button>
  </ion-card>
</ion-card>
