<!--
  Generated template for the AboutUsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>about-us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p><strong>Who we are ?</strong></p>
  <p>PROGET company is French was founded in 2010 by Jean-Francois Ruiz, based in Tunisia.
  PROGET is dedicated to create real values for its clients and consultants,
    through a full range of performance and services
  </p>.
  <ion-card>
    <img src="../../assets/imgs/pr.png">
  </ion-card>
</ion-content>
