<ion-menu [content]="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="side-menu21">
    <ion-list id="menu-list1">
      <ion-item-sliding>
        <ion-item color="royal" menuClose="" on-click="goToHome()" id="menu-list-item1">
          welcome
          <ion-icon name="arrow-forward" item-right></ion-icon>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button></button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item color="royal" menuClose="" on-click="goToAbout()" id="menu-list-item2">
        About Us
        <ion-icon name="arrow-forward" item-right></ion-icon>
      </ion-item>

      <ion-item color="royal" menuClose="" on-click="goToWelcome()" id="menu-list-item3">
        Our Services
        <ion-icon name="arrow-forward" item-right></ion-icon>
      </ion-item>

    </ion-list>

  </ion-content>

</ion-menu>
<ion-nav #mainContent [root]="rootPage"></ion-nav>

<div *ngIf="showSplash" class="splash">

  <div class="backgr" id="logo"><img class="fadeIn" src=" ../assets/imgs/ProGet.png"></div>


  <div class="backgr" id="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>




