<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>welcome</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <p><strong>HELLO {{this.username}}!</strong></p>
  <button ion-button block color="primary" (onclick)="Logout()">Log out</button>
</ion-content>

<ion-content padding><br>
  <br>
  <br>
  <br><br><br><br>



  <!--
      <br><br><br>
      <ion-card id="card1">
        <br><br>
        <ion-card id="card2">

          <p id="titre">
            <img src= "https://proget-jobs.com/assets/img/logo.png">
          </p>


        </ion-card>
        <ion-card>

          <img src="../../assets/imgs/business.jpg"/>


        </ion-card>



    </ion-card>
    -->
</ion-content>
